.uvodStranaSPozadim {
  padding: 100px 80px;
  background-image: url('img/kameraNaZdi.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: scroll;
  max-width: 80%;
  margin: auto;
  height: 800px;
}
.uvodSlogan {
  font-family: 'Oswald';
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  line-height: 5rem;
}
.uvodSlogan--span {
  color: whitesmoke;
}

.uvodText {
  font-family: 'Oswald';
  font-size: 1.2rem;
  color: #413e3e;
  text-align: center;
  font-weight: bold;
  padding: 65px 17px;
}
.vlozenyDiv {
  width: 35rem;
  height: 16rem;
  background-color: #ffd6ba;
  margin: auto;
  margin-top: -30rem;
  opacity: 90%;
  border-radius: 0.7rem;
}
.kontejner {
  max-width: 45rem;
  margin: auto;
}
