@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.google.com/specimen/Open+Sans+Condensed?preview.text=U%C5%BE%20se%20nemus%C3%ADte%20ob%C3%A1vat&preview.text_type=custom');

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Oswald', sans-serif;
  line-height: 1.5;
  text-align: start;
  background-attachment: fixed;
  background: hsla(20, 28%, 75%, 1);

  background: linear-gradient(
    360deg,
    hsla(20, 28%, 75%, 1) 0%,
    hsla(23, 65%, 87%, 1) 25%,
    hsla(28, 37%, 90%, 1) 50%,
    hsla(120, 60%, 99%, 1) 75%,
    hsla(0, 0%, 100%, 1) 100%
  );

  background: -moz-linear-gradient(
    360deg,
    hsla(20, 28%, 75%, 1) 0%,
    hsla(23, 65%, 87%, 1) 25%,
    hsla(28, 37%, 90%, 1) 50%,
    hsla(120, 60%, 99%, 1) 75%,
    hsla(0, 0%, 100%, 1) 100%
  );

  background: -webkit-linear-gradient(
    360deg,
    hsla(20, 28%, 75%, 1) 0%,
    hsla(23, 65%, 87%, 1) 25%,
    hsla(28, 37%, 90%, 1) 50%,
    hsla(120, 60%, 99%, 1) 75%,
    hsla(0, 0%, 100%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#d0b8ac", endColorstr="#f3d8c7", GradientType=1 );
}

h1,
h2,
h3 {
  text-align: center;
}
h1 {
  background-color: #ee9b00;
  border-radius: 1.5rem;
}

/* .............. */
/* all copy paste */
/* .............. */

/* moved to Header already
.hlavicka {
  background-color: #d0b8ac;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
} */

.byloA {
  display: block;
  color: #413e3e;
  text-decoration: none;
  font-weight: bold;
  padding: 8px;
  font-size: 1.2rem;
}
.byloA:hover {
  background-color: darkgray;
  color: white;
  margin: 0;
}
.menu {
  display: flex;
  margin-right: 15px;
}
ul {
  list-style: none;
}
.logo {
  font-weight: bold;
  font-size: 2.2rem;
  margin: 10px;
  color: #413e3e;
}
.ikonka {
  width: 1rem;
  position: relative;
  left: auto;
  padding-bottom: 2px;
}
.ikonkaCam {
  width: 2.5rem;
  margin-top: 20px;
  margin-right: 10px;
}
.ucetAregistrace {
  background-color: #ee9b00;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  margin: 4px 2px;
  cursor: pointer;
  font-family: 'Oswald', sans-serif;
  font-weight: bolder;
  border-radius: 1.5rem;
  display: inline-flex;
}

li img {
  position: relative;
  right: 5px;
  top: 2px;
}

.uvodStranaSPozadim {
  padding: 100px 80px;
  background-image: url('pages/Main/img/kameraNaZdi.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: scroll;
  max-width: 80%;
  margin: auto;
  height: 800px;
}
.uvodSlogan {
  font-family: 'Oswald';
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  line-height: 5rem;
  /*text-shadow: 3px 3px 7px #666666;*/
}
.vlozenyDiv {
  width: 30rem;
  height: 15rem;
  background-color: #d0b8ac;
  margin: auto;
  margin-top: -100px;
}
.kontejner {
  max-width: 45rem;
  margin: auto;
}
p {
  font-family: sans-serif;
}
.uvodText {
  font-family: 'Oswald';
  font-size: 1rem;
  color: #141414;
  /*background-color: rgb(206, 179, 110);*/
  text-align: center;
  font-weight: bold;
}
.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.buttonHlavni,
.vytvorit_ucet {
  background-color: #197278; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  margin: 4px 2px;
  cursor: pointer;
  font-family: 'Oswald', sans-serif;
  font-weight: bolder;
  border-radius: 1.5rem;
}
h1,
h2 {
  text-align: center;
}
h2 {
  font-size: 4rem;
  line-height: 5rem;
}
.tlacitko {
  background-color: #ee9b00;
  border-radius: 1.5rem;
  text-align: center;
}

/*stylovani stranky domu*/
h3 {
  text-align: center;
  font-size: 48px;
}
.domu {
  width: 720px;
  margin-top: 30px;
  border-radius: 0.5rem;
}
/*stylovani galerie v ceniku*/
.obrazkyDiv {
  display: flex;
  flex-direction: column;
  background-color: #d0b8ac;
  border-radius: 10px;
}
.obrazekKontejner {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 12px 24px;
}
.miniaturyDiv {
  display: flex;
  overflow-x: auto;
}
.aktualniSnimek,
.miniatury {
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
}
.obrazekPes {
  width: 100px;
  border-width: 2.5px;
  border-style: solid;
  border-color: whitesmoke;
  border-radius: 5px;
}
.obrazekAuto {
  width: 160px;
  border-width: 2.5px;
  border-style: solid;
  border-color: whitesmoke;
  border-radius: 5px;
}

.obrazekPesOriginal {
  border-width: 2.5px;
  border-style: solid;
  border-color: whitesmoke;
  border-radius: 5px;
  width: 80%;
  padding: 0px, opx;
}
.obrazekAutoOriginal {
  border-width: 2.5px;
  border-style: solid;
  border-color: whitesmoke;
  border-radius: 5px;
  width: 90%;
  padding: 0px, opx;
}
.obrazekPopis {
  font-size: 1rem;
  font-weight: normal;
}
/*konec*/
.galerie {
  display: flex;
  justify-content: space-evenly;
  border-radius: 10px;
}
/*stylovani registracniho formulare*/
.obrazRegistrace {
  display: flex;
  font-family: sans-serif;
}
.imgRegistrace {
  max-width: 50%;
  border-radius: 10px;
}
fieldset {
  background-color: #f1f1f1;
  border: none;
  border-radius: 2px;
  margin-bottom: 12px;
  padding: 0 10px;
}
.formularovePole {
  background-color: #acb09f;
  border: 1px solid #eaeaea;
  list-style: none;
  padding: 12px;
}

li {
  margin: 0.5em 0;
}
ul label {
  font-size: large;
  font-weight: bolder;
}
input {
  width: 100%;
  min-height: 1.5rem;
  font-size: 1rem;
}
.buttonVyber {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.vytvorit_ucet {
  background-color: #ee9b00;
  font-family: 'Oswald';
  color: #141414;
} /*konec*/
/*stylovani muj ucet*/

.prihlaseniMujUcet {
  display: flex;
  align-items: stretch;
  justify-content: flex-end;
  font-size: 1rem;
}
.ucetUvod {
  font-weight: normal;
  text-align: left;
  font-size: medium;
}
.container {
  max-width: 45rem;
  margin: auto;
  background: #d0b8ac;
  overflow: auto;
}
.gallery {
  margin: 5px;
  border: 1px solid whitesmoke;
  width: 160px;
  float: left;
}
.gallery img {
  width: 100%;
  height: auto;
}
.desc {
  padding: 15px;
  text-align: center;
  font-size: 1rem;
}
table {
  border-spacing: 0;
}
th,
td {
  border-bottom: 1px solid black;
  text-align: center;
}
.pocet {
  text-align: right;
  font-size: 1rem;
}
.ucetFiltr {
  font-size: 1rem;
  text-align: start;
}
/*footer*/
.paticka {
  color: #413e3e;
  text-align: center;
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: 0.7rem;
}
@media (max-width: 575px) {
  .uvodStranaSPozadim {
    padding: 20px 40px;
    background-image: url('pages/Main/img/kameraNaZdi.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;

    opacity: 80%;
    margin: auto;
  }
}
@media (max-width: 575px) {
  .kontejner {
    width: 100%;
  }
}

/*@media (max-width: 576px) {
  .menu {
    width: 50%;
    font-size: 10px;
  }
}*/
@media (max-width: 800px) {
  .menu {
    width: 60%;
    font-size: 1rem;
  }
}
@media (min-width: 575px) {
  .hamburgerMenu {
    display: none;
  }
}
@media (max-width: 575px) {
  .menu,
  li button {
    display: none;
  }
}
@media (max-width: 575px) {
  .imgRegistrace {
    display: none;
  }
}
@media (max-width: 575px) {
  .textKObrazkum {
    font-size: 00.7rem;
    font-weight: bolder;
  }
}
@media (max-width: 575px) {
  .miniatury {
    width: 85%;
  }
}
@media (max-width: 575px) {
  .obrazekPes {
    width: 80%;
  }
}
@media (max-width: 575px) {
  p {
    font-size: 0.7rem;
    text-align: justify;
  }
}
