@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Oswald:wght@200;400&display=swap');
*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Oswald', sans-serif;
  line-height: 2rem;
  text-align: start;
  background-attachment: scroll;
  background: hsla(20, 28%, 75%, 1);

  background: linear-gradient(
    360deg,
    hsla(20, 28%, 75%, 1) 0%,
    hsla(23, 65%, 87%, 1) 25%,
    hsla(28, 37%, 90%, 1) 50%,
    hsla(120, 60%, 99%, 1) 75%,
    hsla(0, 0%, 100%, 1) 100%
  );
}

h1,
h2,
h3 {
  text-align: center;
}
h1 {
  background-color: #ee9b00;
  border-radius: 1.5rem;
}
h4 {
  margin-left: 10px;
}
.menu--nav .byloA {
  color: #413e3e;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;
  border-bottom: 2px solid transparent;
}
.menu--nav .byloA:hover,
.menu--nav .byloA:active {
  color: whitesmoke;
  transition: border-bottom 0.5s;
  border-bottom: 2px solid #413e3e;
}
.byloA {
  text-decoration: none;
  font-family: 'Oswald';
  color: #413e3e;
  font-size: 1.5rem;
}
.menu--auth .byloA:hover {
  background-color: #413e3e;
  border-radius: 1.5em;
  transition: background-color 1.2s;
}
.menu--nav,
.menu--auth {
  display: flex;
}

ul {
  list-style: none;
}

.ikonka {
  width: 1rem;
  position: relative;
  left: auto;
  padding-bottom: 2px;
  padding-right: 4px;
}
.ikonkaCam {
  width: 2.5rem;
  margin-top: 20px;
  margin-right: 10px;
}
.ucetAregistrace {
  background-color: #ee9b00;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  margin: 4px 2px;
  cursor: pointer;
  font-family: 'Oswald', sans-serif;
  font-weight: bolder;
  border-radius: 1.5rem;
  display: inline-flex;
  padding: 6px 18px;
}
.menu--nav li {
  margin: 0.5em 1.5em;
}
li img {
  position: relative;
  right: 5px;
  top: 2px;
}
.uvodStranaSPozadim {
  padding: 100px 80px;
  background-image: url('pages/Main/img/kameraNaZdi.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: scroll;
  max-width: 90%;
  margin: auto;
  height: 600px;
}
.uvodSlogan {
  font-family: 'Oswald';
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  line-height: 5rem;
}
.hamburgerMenu--span {
  font-size: 1.5rem;
  color: #413e3e;
  margin-right: 5px;
}
.vlozenyDiv {
  width: 30rem;
  height: 15rem;
  background-color: #adc178;
  margin: auto;
  margin-top: -100px;
}
.kontejner {
  max-width: 43rem;
  margin: auto;
}
p {
  font-family: sans-serif;
}
.uvodText {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #141414;
  text-align: center;
  font-weight: bold;
}
/*konec stylovani Main*/
/*zacatek stylovani Details*/
.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.buttonHlavni,
.vytvorit_ucet {
  background-color: #197278; /* Green */
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  margin: 4px 2px;
  cursor: pointer;
  font-family: 'Oswald', sans-serif;
  font-weight: bolder;
  border-radius: 1.5rem;
}

h2 {
  font-size: 4rem;
  line-height: 5rem;
}
.tlacitko {
  background-color: #ee9b00;
  border-radius: 1.5rem;
  text-align: center;
}

.buttonHlavni:hover {
  background-color: darkgrey;
  border-radius: 1.5em;
  transition: background-color 1.5s;
}
.tlacitko:hover {
  background-color: darkgrey;
}
/*konec Detail*/
/*stylovani stranky domu*/
h3 {
  text-align: center;
  font-size: 3rem;
  line-height: 3.2rem;
}
.domu {
  width: 665px;
  margin-top: 30px;
  border-radius: 0.5rem;
  max-width: 100%;
}
/*stylovani Prices (galerie v ceniku)*/
.obrazkyDiv {
  display: flex;
  flex-direction: column;
}
.obrazekKontejner {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 12px 24px;
}
.miniaturyDiv {
  display: flex;
  overflow-x: auto;
}
.aktualniSnimek,
.miniatury {
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
}
.obrazekPes {
  width: 100px;
  border-width: 1.5px;
  border-style: solid;
  border-color: whitesmoke;
  border-radius: 2px;
}
.obrazekAuto {
  width: 160px;
  border-width: 1.5px;
  border-style: solid;
  border-color: whitesmoke;
  border-radius: 2px;
}
.obrazekPesOriginal {
  border-width: 1.5px;
  border-style: solid;
  border-color: whitesmoke;
  border-radius: 2px;
  width: 80%;
  padding: 0px, 0px;
}
.obrazekAutoOriginal {
  border-width: 1.5px;
  border-style: solid;
  border-color: whitesmoke;
  border-radius: 5px;
  width: 90%;
  padding: 0px, opx;
}
.obrazekPopis {
  font-size: 1rem;
  font-weight: normal;
}
/*konec Prices (galerie v ceniku)*/
.galerie {
  display: flex;
  justify-content: space-evenly;
  border-radius: 10px;
}
/*stylovani registracniho formulare*/
.obrazRegistrace {
  display: flex;
  font-family: sans-serif;
}
.imgRegistrace {
  max-width: 50%;
  border-radius: 10px;
  margin-right: 10px;
}
fieldset {
  background-color: #d1beb0;
  border: none;
  border-radius: 2px;
  margin-bottom: 12px;
  padding: 0 10px;
}
.formularovePole {
  background-color: #acb09f;
  border: 1px solid #eaeaea;
  list-style: none;
  padding: 12px;
}
li {
  margin: 0.5em 0;
}
ul label {
  font-size: large;
  font-weight: bolder;
}
input {
  width: 100%;
  min-height: 1.5rem;
  font-size: 1rem;
}
.buttonVyber {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.vytvorit_ucet {
  background-color: #ee9b00;
  font-family: 'Oswald';
  color: #141414;
} /*konec*/
/*stylovani muj ucet*/

.prihlaseniMujUcet {
  display: flex;
  align-items: stretch;
  justify-content: flex-end;
  font-size: 1rem;
}
.ucetUvod {
  font-weight: normal;
  text-align: left;
  font-size: medium;
}
.container {
  max-width: 45rem;
  margin: auto;
  overflow: auto;
}
.gallery {
  margin: 5px;
  border: 1px solid whitesmoke;
  width: 160px;
  float: left;
}
.gallery img {
  width: 100%;
  height: auto;
}
.desc {
  padding: 15px;
  text-align: center;
  font-size: 1rem;
}
table {
  border-spacing: 0;
}
th,
td {
  border-bottom: 1px solid black;
  text-align: center;
}
.pocet {
  text-align: right;
  font-size: 1rem;
}
.ucetFiltr {
  font-size: 1rem;
  text-align: start;
}
/*stylovani login*/

/*footer*/
.paticka {
  color: #413e3e;
  text-align: center;
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: 0.7rem;
  font-weight: bolder;
}
@media (max-width: 575px) {
  .uvodStranaSPozadim {
    padding: 20px 40px;
    background-image: url('pages/Main/img/kameraNaZdi.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
    margin-left: 10px;
    margin-right: 10px;
    max-width: 99%;
    height: 480px;
  }
}
@media (max-width: 779px) {
  .vlozenyDiv {
    display: none;
  }
}

@media (max-width: 575px) {
  .uvodText {
    font-size: 1rem;
    line-height: 1.2rem;
    padding: 10px 10px;
  }
}
@media (max-width: 575px) {
  .uvodSlogan {
    font-size: 2.5rem;
    line-height: 3.5rem;
  }
}

@media (max-width: 1199px) {
  .menu--nav .byloA,
  .menu--auth .byloA {
    font-size: 0.8rem;
  }
}
@media (min-width: 1200px) {
  .menu--nav .byloA,
  .menu--auth .byloA {
    font-size: 1.2rem;
  }
}
@media (min-width: 1600px) {
  .menu--nav .byloA,
  .menu--auth .byloA {
    font-size: 1.6rem;
  }
}
@media (min-width: 1025px) {
  .menu--nav,
  .menu--auth {
    margin: 10px;
  }
}

@media (min-width: 1200px) {
  .menu--auth {
    flex-direction: row;
  }
}
@media (min-width: 1200px) {
  .menu--auth li {
    margin-top: -0.7px;
    margin-bottom: 4px;
  }
}
@media (max-width: 575px) {
  .hamburgerMenu--span {
    font-size: 1rem;
  }
}
@media (max-width: 575px) {
  .kontejner {
    width: 100%;
  }
}
@media (max-width: 575px) {
  .ucetUvod {
    font-size: 0.7rem;
  }
}
@media (max-width: 575px) {
  .obrazekAutoOriginal {
    width: 50%;
  }
}
@media (max-width: 575px) {
  .obrazekPesOriginal {
    width: 60%;
  }
}
@media (max-width: 575px) {
  .imgRegistrace,
  .domu {
    display: none;
  }
}
@media (max-width: 575px) {
  .textKObrazkum {
    font-size: 00.7rem;
    font-weight: bolder;
  }
}
@media (max-width: 575px) {
  h2 {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }
}
@media (max-width: 575px) {
  h3 {
    font-size: 1.5rem;
    line-height: 1.5rem;
    padding: 0px 10px 0px 10px;
  }
}
@media (max-width: 575px) {
  .tlacitko {
    margin: 10px;
  }
}
@media (max-width: 575px) {
  .tlacitko .byloA {
    font-size: 1rem;
  }
}
@media (max-width: 575px) {
  .miniatury {
    width: 85%;
  }
}
@media (max-width: 575px) {
  p {
    padding: 0 13px 0 13px;
    line-height: 1.2rem;
    font-size: 0.7rem;
    text-align: justify;
  }
}
@media (max-width: 575px) {
  .obrazekPes {
    width: 80%;
  }
}
@media (min-width: 575px) {
  p {
    padding: 0 13px 0 13px;
  }
}
@media (min-width: 1026px) {
  .hamburgerMenu {
    display: none;
  }
}
@media (max-width: 1025px) {
  .menu--nav,
  .menu--auth {
    display: none;
  }
}
